root {
  --bg-color: rgb(0 0 0 / 93%);
  --font-color: #fb5;
}

main .viewer .content h1,
main .viewer .content a,
main .viewer .content a::before {
  color: #21c307;
  content: "󰌹 ";
}

main {
  overflow: clip;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color);
  backdrop-filter: blur(5px);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ff9900ed var(--bg-color);
}
